/* share section */
.show-support {
    .show-support-wrapper {
        padding-left: 0px;
        padding-right: 0px;
        @include interpolate("padding-top", 600px, 40px, 1200px, 106px, "ease-in");
        @include interpolate("padding-bottom", 600px, 40px, 1200px, 54px, "ease-in");
        @include interpolate("margin-bottom", 600px, 40px, 1200px, 121px, "ease-in");
        position: relative;

        &:after {
            content: " ";
            display: block;
            border-width: 0 0 8px 0;
            border-style: dotted;
            border-color: $sinopia;
            border-image-source: url('../images/dots.svg');
            border-image-slice: 33% 33%;
            border-image-repeat: round;
            width: 100%;
            position: absolute;
            bottom: 0px;
        }

        .section-title {
            margin: 0px;
            font-family: $primary-font;
            font-weight: 700;
            @include interpolate("font-size", 600px, 40px, 1200px, 50px, "ease-in");
            line-height: normal;
            color: $light-black;
            text-align: center;
            position: relative;
            z-index: 1;
            text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff;

            &:after,
            &:before {
                content: " ";
                display: block;
                border-width: 0 0 8px 0;
                border-style: dotted;
                border-color: $sinopia;
                border-image-source: url('../images/dots.svg');
                border-image-slice: 33% 33%;
                border-image-repeat: round;
                width: 27.8%;
                z-index: -1;
            }

            &:after {
                position: absolute;
                left: 0;
                top: calc(50% - 6px);
            }

            &:before {
                position: absolute;
                right: 0;
                top: calc(50% - 6px);
            }
        }

        .show-support-link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @include interpolate("margin-top", 600px, 40px, 1200px, 40px, "ease-in");

            > * {
                margin: 30px 0;
            }

            &-button {
                @include drop-outline-button;
            }

            .addthis_inline_share_toolbox_5mq0 {

                @media (min-width: $screen-sm-min) {
                    margin-left: 30px;
                }

                .at-share-btn-elements {
                    text-align: center;

                    .at-icon-wrapper {
                        overflow: visible;
    
                        .at-icon-wrapper,
                        .at-label {
                            display: none;
                        }
    
                        &.at-share-btn {
                            @include drop-outline-button;
                            
                            background: $white !important;
                            margin: 15px 0;
                            transform: none !important;
    
                            &:not(:last-child) {
                                @media (min-width: 500px) {
                                    margin-right: 30px;
                                }
                            }
    
                            &.at-svc-facebook {
                                &:hover::after {
                                    background: #3d5b98;
                                }
                            }
    
                            &.at-svc-twitter {
                                &:hover::after {
                                    background: #20a1f2;
                                }
                            }
                        }
    
                        .at4-visually-hidden {
                            position: static;
                            clip: unset;
                            overflow: visible;
                        }
    
                        
                    }
                }
            }
        }
    }
}
