/* footer */
.footer {
    position: relative;
    background-color: $dark-blue;
    padding-bottom: 70px;

    @media (min-width: 1024px) {
        padding: 0;
    }

    .footer-container-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }

        @include interpolate("margin-top", 600px, 40px, 1200px, 86px, "ease-in");
        @include interpolate("margin-bottom", 600px, 40px, 1200px, 50px, "ease-in");

        .items {
            &:nth-child(1) {
                @media (max-width: $screen-xs-max) {
                    margin-right: 0px;
                    margin-bottom: 30px;
                }

                @media (min-width: $screen-sm-min) {
                    margin-bottom: 20px;
                }

                @media (min-width: $screen-lg-min) {
                    margin-bottom: 0;
                }

                @include interpolate("margin-right", 768px, 20px, 1024px, 80px, "ease-in");
                @include interpolate("margin-right", 1024px, 80px, 1200px, 130px, "ease-in");
            }

            ul {
                margin-bottom: 0px;

                li {
                    display: inline-block;
                    line-height: 60px;
                    margin: 0 30px 0 0;

                    @media (max-width: $screen-xs-max) {
                        display: block;
                        line-height: 1;
                        margin: 0 0 15px 0;
                    }

                    a {
                        @media (max-width: $screen-xs-max) {
                            font-size: 16px;
                        }
                        @media (max-width: $screen-md-max) {
                            font-size: 18px;
                        }
                        font-size: 20px;
                        line-height: normal;
                        color: $white;
                        display: inline-block;
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
    }

    .fbar {
        border-top: 2px solid #4c4c4c;
        padding: 28px 0;

        .list-inline {
            margin: 0px;

            a {
                font-family: $primary-font;
                font-weight: 400;
                color: #aaaaaa;
                font-size: 16px;
                line-height: normal;
            }
        }
    }
}