.timeline{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;

	 &:after{
		content: "";
		display: block;
		width: 10px;
		height: 100%;
		background-image: url(../images/dash.svg);
		background-image: url(../images/dash-new.svg);
		position: absolute;
		top: 10px;
		left: 8px;
		z-index: -5;


	 }
	&-point{
		position: relative;
		display: flex;
		margin-bottom: 35px;
		&:nth-child(n){
			.timeline-point-dot{
				border-radius: 50%;
				background-color: $dot-color;
				width: 22px;
				height: 22px;
				@include interpolate("margin-right", 400px, 18px, 1200px, 78px, "ease-in");
				flex: 0 0 22px;
				max-width: 22px;
			}
			.timelin-data{
				display: flex;
				@media (max-width: $screen-xs-max){
					flex-direction: column;
				}
			}
			.timeline-year{
				@media (max-width: $screen-xs-max){
					margin: 0 0 8px 0;
					font-size: 16px;
				}
				color: #757575;
				font-family: $primary-font;
				font-weight: 700;
				font-size: 20px;
				line-height: normal;
				margin-right: 30px;
			}
			.timeline-heading{
				@media (max-width: $screen-xs-max){
					font-size: 16px;
				}
				color: #757575;
				font-family: $primary-font;
				font-weight: 400;
				font-size: 20px;
				line-height: normal;
			}
		}
		&:nth-child(1){
			.timeline-point-dot{
					width: 51px;
					height: 51px;
					flex: 0 0 51px;
					max-width: 51px;
					display: inline-block;
					@include interpolate("margin-right", 600px, 30px, 1200px, 78px, "ease-in");
					position: relative;
					left: -14px;
					&:after{
						content: "";
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background-color: $sinopia;
						position: absolute;
						top: calc(50% - 15px);
						left: calc(50% - 15px);
					}
					&:before{
						content: "";
						display: inline-block;
						width: 51px;
						height: 51px;
						border-radius: 50%;
						background-color: $white;
						border: 5px solid $sinopia;

					}
				}
			.timelin-data{
				display: block;
			}
			.timeline-year{
				display: block;
				color: $sinopia;
				font-weight: 700;
				font-size: 70px;

			}
			.timeline-heading{
				display: block;
				color: #333333;
				font-weight: 700;
				@media (max-width: $screen-xs-max){
					font-size: 20px;
				}
				font-size: 40px;
			}
			.timeline-content{
				display: block;
			}
				.timeline-readmore{
					a{
						font-family: Arial;
						font-size: 22px;
						color: $sinopia;
						&:after{
							content: " ";
							display: block;
							background-color: $sinopia;
							width: 100%;
							height: 1px;
						}
					}
					display: inline-block;
          position: relative;
          &:before{
            content: " ";
            display: block;
            width: 10px;
            height: 10px;
            display: inline-block;
            position: absolute;
            top: calc(50% - 10px);
            right: -38px;
            z-index: 1;
            margin-top: 5px;
            margin-right: 7px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
          }
					&:after{
						content: "";
						display: block;
						width: 20px;
						height: 20px;
						display: inline-block;
						background: $sinopia;
						position: absolute;
						top: calc(50% - 10px);
            right: -38px;
            z-index: -1;
					}
				}

		}
	}
}
